body, p,div,ul,li,h1,h2,h3 {
	margin: 0;
	padding: 0;
}
.clearfix:after {content:"."; display:block; height:0; font-size:0; clear:both; visibility:hidden;}
.clearfix {zoom:1;}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrap{
	width: 1000px;
	margin: 0 auto;
    background: #fff;
}
body{
	background: url(../images/bj.jpg) #fff repeat-x;
	font-size: 12px;
}
h1{
	font-size: 32px;
	color: #F9D882;
	padding: 0 10px;
	height: 65px;
	line-height: 65px;
}
.advert-box {
	position: relative;
	height: 350px;
	overflow: hidden;

}
.page-list {
	position: absolute;
	right: 0;
	bottom: 5px;

}
.page-list>li{
	float: left;
	background: #CCC;
	color: #fff;
	width: 15px;
	height: 15px;
	font-size: 12px;
	margin: 0 5px;
	text-align: center;
	line-height: 15px;
	border: 1px solid #fff;
	cursor: pointer;
}
.page-list>li:hover{
	background: #333;

}
.nav table{
	width: 100%;
}

.nav{
	background: url(../images/indexnav.jpg) repeat-x;
	height: 33px;
	overflow: hidden;
}
.nav .active-menu {
	background: url(../images/navbj.jpg) center no-repeat;
	color: #f96b0b;
}
.nav a{
	display: inline-block;
	width: 138px;
	height: 36px;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	font-weight: bold;


}
.nav a:hover{
	background: url(../images/navbj.jpg) center no-repeat;
	color: #f96b0b;

}

.panel {
	float: left;
	display: inline-block;
	width:295px;
	margin: 0 17px;
	padding: 15px 0px 15px 0px;
	line-height: 30px;
	color: #666;
}


.title h2{
	background: url(../images/titlebg.png) no-repeat;
	width: 66px;
	height:22px;
	display:inline-block;
	font-size: 12px;
	color: #fff;
	line-height:22px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	position: relative;
	bottom: -4px;

}

.title{
	border-bottom: 1px solid #dc6c00;
	padding-left: 3px;
}

.title a{
float: right;
color: #fa730c;
text-decoration: none;
position:relative;
bottom: -4px;
}
.title a:hover {
	text-decoration: none;
}
.time {

}
.panel a:hover{
	text-decoration: underline;

}
.panel .time {
	position: absolute;
	right: 0;
}
.panel li {
	position: relative;
	border-bottom: 1px #c5c5c5 dashed;
}
.img-list>li{
	float: left;
	margin: 5px;
}
.img-list a {
	display: block;
	border: 1px #ccc solid;
	padding: 2px;
}

.img-list p{
	text-align: center;
}

.img-list{
	height: 120px;
	overflow: hidden;
}

.over{
	background-color: #888;
	height: 35px;
}
.foot{
	text-align: center;
	line-height: 35px;
	color:#fff;
}